* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
a {
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: purple;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: purple;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
